.table-container {
  margin: 0 auto;
  padding: 0 $s-size; 
  max-width: 90%;
}

.table-container__title {
  background: $fcc-green;
  color: white;
  font-size: $m-size;
  font-weight: 300;
  text-align: centre;
  border-radius: 5px 5px 0 0;
}

.table-container__table {
  border-collapse: collapse;
}

.table-container__headings {
  font-size: $s-size;
  color: black;
  margin: 0;
  // text-align: left;
}

.table-container__button {
  border: none;
  background-color: #f2f2f2;
}

.table-container__button:focus {
  outline: 0;
}

.table-container__text {
  font-size: $s-size;
  text-align: left;
}

.table-container__text--center {
  text-align: center;
}

.table-container__text--id {
  text-align: center;
}

.table-container__img {
  border-radius: 50%;
  border: solid $fcc-green;
}

td:first-child {
  width: 6%;  
}

td:nth-child(2) {
  width: 13%;
  word-break: break-all;
}

td:nth-child(4),
td:nth-child(5) {
  width: 35%;
}

tr:nth-child(even) {background-color: #f2f2f2}
tr:nth-child(odd) {background-color: white}

@media (min-width: $desktop-breakpoint) {
  .table-container__title {
    font-size: $l-size;
  }

  .table-container__headings {
    font-size: $l-size;
  }
  .table-container__text {
    font-size: $m-size;
  }
}